@CHARSET "UTF-8";

/* 공통 */
.clearfix {
	overflow: auto;
	zoom: 1;
}

body .hidden {
	visibility: hidden;
	display: none;
}

body .left {
	float: left;
}

body .right {
	float: right;
}

.content-container {
	height: inherit;
	width: 960px;
	margin: auto;
	padding-bottom: 100px;
}

.link {
	color: #000;
	/* 하이퍼링크 밑줄없애기 */
	text-decoration: none;
}

/* 메인 */
.content-container-detail {
	border: 1px solid red;
	height: inherit;
	width: 760px;
	margin: auto;
	padding-bottom: 100px;
}

/*사진*/

#photo {
	width: 380px;
	height: 450px;
	background: url(이미지주소) no-repeat;
	float: left;
}

#photo:hover .text {
	opacity: 0.6;
	text-align: center;
	color: #ffffff;
}

.text {
	border: 1px solid black;
	width: 380px;
	height: 450px;
	background: #000000;
	opacity: 0;
	text-indent: 30px;
}

.text > table {
	padding-top: 42%;
	margin: auto;
}

#story {
	height : 450px;
	width: 380px;
	/* height: 450px; */
	float: right;
}

#story table > tbody > tr {
	padding-bottom: 10px;
	
	height: 15px;
	text-indent: 5px;
}

#comment {
	float: left;
	margin: auto;
	width: 760;
	height: 100%;
}
#ctable{
	float: left;
	margin: auto;
}
#ctable > tr{
	margin-top: 10px;
}
/* 헤더 */
#menu {
	float: right;
}

#search {
	float: right;
}

#main-menu {
	display: inline-block;
	font-family: "맑은 고딕";
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

#main-menu>ul {
	overflow: auto;
}

body .h-menu>ul>li {
	float: left;
	padding-left: 15px;
	list-style: none;
}

#visual { /*main이 header를 침범 하는 것을 막기 위한 장치*/
	height: 85px;
}

#aside {
	min-height: inherit;
}
#aside .prev {
	position: absolute;
	float: left;
}
#aside .next {
	width: inherit;
	position: absolute;
}

/* 푸터 */
#footer {
	text-align: center;
	opacity: 0.7;
	background: black;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}

.upload_button {
	float: right;
	margin-top: 8px;
	font-size: 15px;
	width: 150px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 10px;
	border: 3px solid gray;
}

.soso {
	color: white;
	list-style: none;
	display: inline-block;
}

.dt {
	font-style: oblique;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: lighter;;
}