@CHARSET "UTF-8";


/* 메인 */

body main{
	margin: auto;
}

.content-container-detail-top {
	display: inline-block;
	height: inherit;
	width: 760px;
	margin: auto;
}
.content-container-detail {
	font-family: Helvetica, "맑은 고딕";
	font-weight: lighter;
	
	/* border: 1px solid red; */
	height: inherit;
	width: 760px;
	margin: auto;
	padding-bottom: 100px;
}
.content-container-detail h1 {
	/* visibility: hidden; */
	display: none;
}

/*사진*/

#photo {
	width: 380px;
	height: 450px;
	/* background: url(이미지주소) no-repeat; */
	float: left;
}

#photo:hover .text {
	opacity: 0.6;
	text-align: center;
	color: #ffffff;
}

.text {
	/* border: 1px solid black; */
	width: 380px;
	height: 450px;
	background: #000000;
	opacity: 0;
	text-indent: 30px;
}

.text > table {
	padding-top: 42%;
	margin: auto;
}

#story {
	font-size: 15px;
	
	height : 450px;
	width: 380px;
	float: right;
}

#story table {
	text-align: center;
}

#story table > tbody > tr {
	
}
#story table > tbody > tr > td {
	padding: 5px;
}

#comment {
	font-family: Helvetica, "맑은 고딕";
	font-weight: lighter;
	font-size: 13px;
	
	float: left;
	margin: auto;
	width: 760px;
	height: 100%;
}
.ctable{
	display: inline-block;
	width: 760px;
	float: left;
	margin: auto;
	margin-top: 10px;
}
.ctable thead > tr{
	margin-bottom: 10px;
}
#ctable tbody td:NTH-CHILD(1){
	width: 25px;
}
.ctable-td td:NTH-CHILD(2){
	width: 560px;
}
.ctable-td td:NTH-CHILD(3){
	width: 130px;
}
.ctable-td td:NTH-CHILD(4){
	width: 120px;
}
.ctable-td td:NTH-CHILD(4){
	width: 25px;
}