<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
				<property name="url"
					value="jdbc:sqlserver://dev.newlecture.com:1433;databaseName=sosodb" />
				<property name="username" value="soso" />
				<property name="password" value="nobadnogood" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- 쿼리문 읽기 -->
		<mapper resource="soso/mybatis/NoticeMapper.xml" />
		<mapper resource="soso/mybatis/CommentMapper.xml" />
		<mapper resource="soso/mybatis/TagMapper.xml" />
		<mapper resource="soso/mybatis/UserMapper.xml" />
	</mappers>
</configuration>