<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- NoticeDao 인터페이스 구현하고 싶은 것만 함 -->
<mapper namespace="soso.dao.NoticeDao">
	<select id="get" resultType="soso.entities.Notice">
		SELECT * FROM POST WHERE CODE = #{code}
	</select>
	<insert id="insert">
		<selectKey order="BEFORE" keyProperty="code" resultType="String">
		SELECT ISNULL(MAX(CAST(CODE AS INT)),0)+1 AS CODE FROM NOTICES

		</selectKey>
		INSERT INTO NOTICES(PHOTO,STORY)
		VALUES(#{photo},#{story})
	</insert>
</mapper>
