@CHARSET "UTF-8";

/*--------공통--------*/

body{
	font-family: Helvetica, "맑은 고딕";
}

body .hidden{
	display: none;
}
.link {			/*하이퍼 링크 밑줄/색깔 지우기*/
	color: #000;
	text-decoration: none;
}

.content-container{		/*양쪽의 여백을 위한 장치*/
   height: inherit;
   width: 960px;
   margin : auto;
}