@CHARSET "UTF-8";


/* 메인 */

.table-style tbody > tr td:first-child{
	width: 100px;
}
.table-style tbody > tr td:NTH-CHILD(2){
	width: 100px;
}
.table-style tbody > tr td:NTH-CHILD(3){
	width: 100px;
}
.table-style tbody > tr td:NTH-CHILD(4){
	width: 40px;
}
.table-style tbody > tr td:NTH-CHILD(5){
	width: 100px;
}
.table-style tbody > tr td:NTH-CHILD(6){
	width: 60px;
}
.table-style tbody > tr td:NTH-CHILD(7){
	width: 50px;
}
.table-style tbody > tr td:NTH-CHILD(8){
	width: 70px;
}
.table-style tbody > tr td:last-child{
	width: 50px;
}