@CHARSET "UTF-8";

/*--------헤더-----------*/
#header {
	padding-top: 20px;
	height: 150px;
	
}
#header h1 { /* 글자에 그라데이션 넣기 */
	font-size: 40px;
	font-family: Helvetica, "맑은고딕";
	font-weight:bold;
	background-image: -webkit-linear-gradient(left, #585858, white); /* 방향, 시작색, 끝색 */
	-webkit-background-clip: text; /* 그라데이션을 글자에 넣도록함 */
	-webkit-text-fill-color: transparent; /* 시작색에서 끝색으로 서서히 투명하게 변하도록함  */
	position:relative;
	/* line-height: 1.6  행간:줄간격*/
}

/*--------메뉴-----------*/
#menu{			/*헤더 검색창 & 메뉴 오른쪽으로 밀기*/
   float:right;
} 
#main-menu{		/*헤더 메뉴 설정*/
	float:right;
	display: inline-block;

	font-family: Helvetica, "맑은 고딕";
	font-weight: bold;
	font-size: 12px;
	padding-top: 25px;
	margin-right:53px;
}
#main-menu a{
	color: #585858;
}
#main-menu a:hover{
	color:#2497ff;
	text-decoration: underline;
}

.h-menu > ul > li {		/*헤더 메뉴 글자간격 & 메뉴 앞 점 없애기*/
    float: left;
	padding-left: 15px; 
    list-style: none;
}
/*--------검색-----------*/
#search-form{
	position:relative;	
	float:right;
	border: 2px solid #c0c0c0;
	display:inline-block;
	top:18px;
	right:53px;
	/* border-radius: 50px, 20px,20px,0px; */
}
#search-form h1,
#search-form legend{
	display:none;
	float:left;
}
#search-form input{
	border:0px;
	float:left;
	height:25px;
	/* border:0; */
	display:block;
	text-indent: 5px;
}
/*31*25*/
#search-form input:last-child{
	background: url("../images/search-icon.png") no-repeat center;
	border: 0px;
	display:block;
	width:31px;
	height:25px;
	/*사진이 삐져나올때 맞게 정렬시켜줌*/
	vertical-align: middle;
	opacity : 0.7;
	/*택스트 밀어내는 방법*/
	text-indent: -999px;
}


   
/* #search{		이거 안하면 메뉴들이 한줄로 안나와요
	float:right;
}
#search input :last-child{
	background: url("../images/search-icon.png") no-repeat center;
	border: 0px;
	display:block;
	width:31px;
	height:25px;
	사진이 삐져나올때 맞게 정렬시켜줌
	vertical-align: middle;

	
	텍스트 밀어내는 방법
	text-indent: -999px;
} */