@CHARSET "UTF-8";

main #login-table {
	border: 0px;
}
#login-form{
	border: 0px;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 230px;
}

#checkbox {
	float: right;
}

#login-table {
	width: 240px;
}

#login-menu {
	float: right;
}

.login-button {
	width: 60px;
}

.join-button {
	width: 60px;
}