@CHARSET "UTF-8";


/* 메인 */
.content-container-detail {
	font-family: "서울남산체", "서울남산 장체", "sans-serif";
	font-weight: lighter;
	font-size: 17px;
	
	border: 1px solid red;
	height: inherit;
	width: 760px;
	margin: auto;
	padding-bottom: 100px;
}
.content-container-detail h1 {
	/* visibility: hidden; */
	display: none;
}

/*사진*/

#photo {
	width: 380px;
	height: 450px;
	background: url(이미지주소) no-repeat;
	float: left;
}

#photo:hover .text {
	opacity: 0.6;
	text-align: center;
	color: #ffffff;
}

.text {
	border: 1px solid black;
	width: 380px;
	height: 450px;
	background: #000000;
	opacity: 0;
	text-indent: 30px;
}

.text > table {
	padding-top: 42%;
	margin: auto;
}

#story {
	height : 450px;
	width: 380px;
	/* height: 450px; */
	float: right;
}

#story table {
	
}

#story table > tbody > tr {
	
}
#story table > tbody > tr > td {
	padding: 5px;
}

#comment {
	float: left;
	margin: auto;
	width: 760px;
	height: 100%;
}
#ctable{
	width: 760px;
	float: left;
	margin: auto;
}
#ctable > tr{
	margin-top: 10px;
}