<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- NoticeDao 인터페이스 구현하고 싶은 것만 함 -->
<mapper namespace="soso.dao.JoinDao">
	<insert id="insert" parameterType="soso.entities.Join">
		INSERT INTO [USER](CELLPHONE, EMAIL, PW, GENDER)
			VALUES(#{cellphone}, #{email}, #{pw}, #{gender})
	</insert>
</mapper>