<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soso.dao.TagDao">
	<!-- <select id="getT" resultType="entities.Tag>
		SELECT * FROM TAG WHERE POST_CODE = #{code}
	</select> -->
	<select id="getList" resultType="soso.entities.Tag">
		SELECT * FROM TAG WHERE POST_CODE = #{code}
	</select>
	
	
<!-- 	<select id="getTagCode" resultType="Integer">
		SELECT ISNULL(MAX(CAST(CODE AS INT)), 0)+1 AS CODE FROM TAG
	</select>
	
	<insert id="insert">
		INSERT INTO TAG(CODE,NAME)
		VALUES(#{code},#{name});
	</insert> -->	
	
	 
	
	<delete id="delete">
		DELETE TAG WHERE POST_CODE = #{code}
	</delete>
	
	


</mapper>

